@import url(../../blocks/element/__delete/element__delete.css);
@import url(../../blocks/element/__delete/_hidden/element__delete_hidden.css);
@import url(../../blocks/element/__likes-container/element_likes-container.css);
@import url(../../blocks/element/__like/element__like.css);
@import url(../../blocks/element/__likes/element__likes.css);
@import url(../../blocks/element/__name/element__name.css);
@import url(../../blocks/element/__photo/element__photo.css);
@import url(../../blocks/element/__title/element__title.css);

.element {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 520px) {
  .element {
    max-width: 100%;
  }
}
