@import url(__delete/element__delete.css);
@import url(__delete/_hidden/element__delete_hidden.css);
@import url(__likes-container/element_likes-container.css);
@import url(__like/element__like.css);
@import url(__likes/element__likes.css);
@import url(__name/element__name.css);
@import url(__photo/element__photo.css);
@import url(__title/element__title.css);

.element {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 520px) {
  .element {
    max-width: 100%;
  }
}
