.element__delete {
  background-image: url('../../../images/element-trash.svg');
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 0;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: opacity 200ms ease-in-out;
  outline: 0;
}

.element__delete:hover {
  opacity: 0.6;
  cursor: pointer
}
