.element__like {
  background-image: url('../../../images/element-like.svg');
  height: 18px;
  width: 22px;
  padding: 0 0 0 21px;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity 200ms ease-in-out;
  outline: 0;
}

.element__like:hover {
  opacity: 0.6;
  cursor: pointer
}
