.profile__name-title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  margin: 0 17px 16px 0;
}

@media screen and (max-width: 520px) {
  .profile__name-title {
    font-size: 27px;
    line-height: 2.07;
    margin: 0 10px 0 0;
  }
}
