.authform__input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    min-width: 358px;
    min-height: 30px;
    padding: 0 0 0 5px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.21;
    color: white;
    background-color: black;
    margin: 0 0 30px 0;
}

.authform__input:focus {
    outline-color: rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 550px) {
    .authform__input {
        min-width: calc(100% - 41px);
        min-height: 25px;
    }
}
