.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 358px;
  min-height: 30px;
  padding: 0 0 0 5px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.21;
  color: black;
  margin-right: 20px;
}

.form__input:focus {
  outline-color: rgba(0, 0, 0, 0.1);
}

.form__input:last-of-type {
  margin-top: 27px;
}

@media screen and (max-width: 550px) {
  .form__input {
    min-width: calc(100% - 41px);
    min-height: 25px;
  }
}
